services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Force\DBDoc\Controller\:
        resource: '../../Controller'
        tags: ['controller.service_arguments']
